.write {
    padding-top: 90px;
    position: relative;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.imgPlaceholder {
    margin-left: 150px;
    width: 70vw;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
    position: relative;
}

.writeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #396cad;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
}

.writeInput {
    border: none;
    font-size: 30px;
    padding: 20px;
    width: 70vw;
    background-color: transparent;
    outline: none;
}

.writeInput::placeholder {
    font-family: 'Josefin Sans', sans-serif;
}


.writeText {
    font-size: 20px;
    height: 100vh;
}

.writeCheckboxs {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.writeCheckboxs label {
    font-size: 20px;
}

.writeCheckbox {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 3px;
    background-color: transparent;
}

.writeCheckbox[type='checkbox']{
    accent-color: teal;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.publishBtn {
    font-family: 'Rubik', sans-serif;
    right: 210px;
    color: #fff;
    background-color: teal;
}

.resetBtn {
    font-family: 'Rubik', sans-serif;
    right: 135px;
    color: #fff;
    background-color: tomato;
}